In [1]:
import pandas as pd

# Create Products DataFrame
products_data = {
    'ProductID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'ProductName': ['Laptop', 'Smartphone', 'Tablet', 'Chair', 'Desk',
                    'Bookshelf', 'Jacket', 'Jeans', 'T-shirt', 'Shoes'],
    'Category': ['Electronics', 'Electronics', 'Electronics', 'Furniture', 'Furniture',
                 'Furniture', 'Clothing', 'Clothing', 'Clothing', 'Clothing'],
    'Price': [750.00, 600.00, 400.00, 120.00, 300.00, 250.00, 80.00, 60.00, 20.00, 100.00]
}
products_df = pd.DataFrame(products_data)

# Create Sales DataFrame
sales_data = {
    'SaleID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'ProductID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'SaleDate': pd.to_datetime(['2024-10-01', '2024-10-02', '2024-10-03', '2024-10-04',
                                '2024-10-05', '2024-10-06', '2024-10-07', '2024-10-08',
                                '2024-10-09', '2024-10-10']),
    'Quantity': [5, 3, 4, 2, 1, 3, 6, 4, 10, 5]
}
sales_df = pd.DataFrame(sales_data)

# Task: Find the total revenue generated per product category. Display only those categories where the total revenue exceeds 5000.

### Revenue Calculation: Total revenue for each product = Price * Quantity.

## EXPECTED OUTPUT
![image.png]()

In [6]:
def revenue_exceed(sales_df : pd.DataFrame , products_df : pd.DataFrame) -> pd.DataFrame:
  merge_tables = pd.merge(sales_df , products_df , on = 'ProductID', how ='inner')
  df = merge_tables.copy()
  df['revenue'] = df['Price'] * df['Quantity']
  grouped_value = df.groupby('Category').agg(TotalRevenue = ('revenue','sum')).reset_index()
  filter_values = grouped_value[grouped_value.TotalRevenue>=5000]
  return filter_values

call_fun = revenue_exceed(sales_df , products_df)
call_fun

      Category  TotalRevenue
1  Electronics        7150.0